canvas {
    /* Pin the background canvas to the top left of the website display */
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

html {
    scroll-behavior: smooth;
}

main {
    position: absolute;
}

ul {
    margin: 1.5em;
}

ul ul {
    margin: 0;
}

#about, #recent, #contact {
padding-top: 60px;
}
